
ul li {
  list-style: none;
}

.logo {
  text-align: center;
  color: #0050c7;
  font-weight: bolder;
  font-size: xx-large;
}

.accent {
  color: #a6a6a7;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
}

.title-logo {
  padding-left: 0px !important;
}

.img-logo {
  margin-right: -11px !important;
}